In [1]:
import pandas as pd

# import csv

In [2]:
wego = pd.read_csv("../data/Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

# data exploration

### checking out calendar ID column, comfrim that it represents each day in the data set; date cooresponds to last 4 digits of the ID

In [3]:
wego['CALENDAR_ID'].value_counts().sort_index()

CALENDAR_ID
120230801    6461
120230802    6450
120230803    6472
120230804    6458
120230805    4164
             ...
120230926    6499
120230927    6508
120230928    6499
120230929    6541
120230930    4158
Name: count, Length: 61, dtype: int64

In [4]:
wego['SERVICE_ABBR'].value_counts().sort_index()

SERVICE_ABBR
1    279300
2     37497
3     33532
Name: count, dtype: int64

In [12]:
wego['BLOCK_ABBR'].value_counts()

BLOCK_ABBR
300     8894
2312    8532
2310    8233
5003    8086
5004    8048
        ...
5094      72
8405      72
6401      72
5690      72
9975      72
Name: count, Length: 102, dtype: int64

In [13]:
wego['OPERATOR'].value_counts()

OPERATOR
2352    2970
1266    2911
1147    2710
1133    2625
2424    2577
        ...
2256       6
56         3
473        2
0          1
656        1
Name: count, Length: 341, dtype: int64

# Q1

### What is the overall on-time performance, and what do the overall distributions of adherence and headway deviation look like?

##### create an adherence data frame

In [16]:
adherence = wego[['ADJUSTED_EARLY_COUNT', 'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT']]

adherence

        ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT
0                          0                    0                      1
1                          0                    0                      1
2                          0                    0                      1
3                          0                    0                      1
4                          0                    0                      1
...                      ...                  ...                    ...
350324                     0                    1                      0
350325                     0                    1                      0
350326                     0                    0                      1
350327                     0                    1                      0
350328                     0                    1                      0

[350329 rows x 3 columns]

In [18]:
adherence[['ADJUSTED_EARLY_COUNT', 'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT']].describe()

       ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT
count         350329.000000        350329.000000          350329.000000
mean               0.027902             0.168522               0.770841
std                0.164693             0.374329               0.420292
min                0.000000             0.000000               0.000000
25%                0.000000             0.000000               1.000000
50%                0.000000             0.000000               1.000000
75%                0.000000             0.000000               1.000000
max                1.000000             1.000000               1.000000

In [21]:
adherence['ADJUSTED_EARLY_COUNT'].value_counts()

ADJUSTED_EARLY_COUNT
0    340554
1      9775
Name: count, dtype: int64

In [24]:
adherence['ADJUSTED_LATE_COUNT'].value_counts()

ADJUSTED_LATE_COUNT
0    291291
1     59038
Name: count, dtype: int64

In [25]:
adherence['ADJUSTED_ONTIME_COUNT'].value_counts()

ADJUSTED_ONTIME_COUNT
1    270048
0     80281
Name: count, dtype: int64

looking at value counts of each column above, we can see that it is counting both 1, where adherence was not met, and the 0 values where it was

In [31]:
#adherence2 = adherence[(adherence['ADJUSTED_EARLY_COUNT']= 1) & (adherence['ADJUSTED_LATE_COUNT']= 1) & 
 #                   (adherence['ADJUSTED_ONTIME_COUNT']= 1)]

#internet_use_less_than_5 = internet_df[(internet_df['Internet_Users_Pct'] <5) & (internet_df['Year'] == 2014)]
#internet_use_less_than_5

# adherence2

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (715209051.py, line 1)

In [34]:
adherence.sum(axis =0, skipna = True).reset_index(name='sum_not_in_adherence')

                   index  sum_not_in_adherence
0   ADJUSTED_EARLY_COUNT                  9775
1    ADJUSTED_LATE_COUNT                 59038
2  ADJUSTED_ONTIME_COUNT                270048

##### Percentage of adherence on time

In [35]:
adherence['ADJUSTED_ONTIME_COUNT'].sum()/350329 * 100

77.08411236295025